/* Base card styling */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent; /* light border */
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    max-width: 570px;
    align-items: start;
    color: var(--white);
    gap: 1.5rem;
    background-color: var(--smoke-900);
  }
  
  .title {
    font-size: 2.4rem;
    margin-bottom: 12px;
  }
  
  .description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 16px;
    text-align: left;
  }
  
  /* Hover effects */
  .card:hover {
    border-color: var(--ekko-400);
    box-shadow: 4px 4px 20px var(--ekko-400);
    transition: 150ms ease-in-out;
  }
  
  .cardImg {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
  }