.card {
    color: var(--white);
    border: 1px solid var(--smoke-900) ;
    border-radius: 12px;
    padding: 1.5rem;
    flex: 1;
    min-width: 250px;
    transition: box-shadow 0.3s ease;
    background-color: var(--smoke-900);
  }
  
  .card:hover {
    box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
  }
  
  .title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: var(--ekko-600);
  }
  
  .list {
    list-style: none;
  }
  
  .list li {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding-left: 1.2em;
    position: relative;
  }
  
  
  .list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--ekko-500);
  }
  