.heroWrap {
  width: 100vw;
  padding: 10rem 5vw;
  color: white;
  overflow: hidden;
}

.heroWrap p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.heroItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  height: 100%;
}

.heroTitleWrap {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.1;
  background: linear-gradient(90deg, #5f5df3 0%, var(--accent-500) 100%);
  margin-bottom: 1rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSubtitle {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--smoke-300);
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.heroText {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--smoke-100);
}

.actionsWrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.actions {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.heroImg {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .heroGrid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .heroItem {
    align-items: center;
  }

  .heroTitle {
    font-size: 3rem;
  }

  .heroImg {
    height: 400px;
    margin-top: 3rem;
  }

  .actions {
    justify-content: center;
  }
}
