.heroWrap {
  display: block;
  padding: 4rem 4rem;
  background: var(--smoke-950);
  color: white;
  text-align: center;
  max-width: 1200px;
}

.heroWrap p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.heroItem {
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  font-size: 18px;
  justify-content: space-between;
}

.heroImg {
 position: relative;
 aspect-ratio: 1 / 1;
 display: block;
 align-items: center;
 justify-items: center;
 width: 100%;
 overflow: hidden; 
}

.heroText {
  padding: 32px 0px;
  font-size: 20px;

}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.heroSubtitle {
  font-size: .9rem;
  font-weight: 400;
  color: var(--smoke-300);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  margin-top: -1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: left;
  flex-wrap: wrap;
}
