.hero {
  display: grid;
  padding: 8rem 4rem;
  background: var(--smoke-950);
  color: white;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-light);
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
